*{
    margin: 0;
    padding: 0;
}

.main{
    font-family: sans-serif;
}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
}

ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(10, 13, 194);
    margin-top: -3%;
    transition: .4s ease;
}

ul li a:hover{
    color: rgb(rgb(50, 72, 119), rgb(89, 177, 89), rgb(54, 54, 209));
}

.info{
    margin-left: 7%;
    margin-top: 6%;
}

.info h1{
    font-size: 250%;
    color: rgb(13, 13, 15);
}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 20px;
    font-family: initial;
}

.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-55%);
    bottom: 0;
    transition: left 2s ease;
}

.image:hover .boy{
    left: 45%;

}

/* About section */

#pic{
    display: flex;
}
#pic img{
    width: 200px;
    height: 160px;
    bottom: -190px;
    position: absolute;
    right: 24cm;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    bottom: -190px;
    position: absolute;
    right: 3cm;
    font-family: initial;
}
#About{
    position: absolute;
    bottom: -70px;
}
/* Education */
#Edcuation{
    position: absolute;
    bottom: -220px;
}
#box{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    bottom: -290px;
    position: relative;
    right: -0cm;
    font-family: initial;

}
/* contact */
#contact{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    bottom: -700px;
    position: relative;
    left: -22cm;
    font-family: initial;
}